.navbar-component {
  background-color: white;
  height: 70px;
  border-bottom: 1px solid gray;
  box-shadow: 0 4px 5px rgba(155, 155, 155, 0.2);
  align-items: center;
  display: flex;
  font-family: cursive;
  justify-content: space-between;
  padding: 0px 40px;
  .logo li {
    margin-left: 50px;
    list-style: none;
    .link {
      color: orangered;
      text-decoration: none;
      font-size: 23px;
      font-weight: bolder;
    }
  }
  .nav ul {
    margin-right: 190px;
    display: flex;
    gap: 25px;
    li {
      list-style: none;
      .navlink {
        font-size: 18px;
        text-decoration: none;
      }
    }
  }
}

.navlink:hover {
  color: orangered;
}
